*{
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("assets/Images/background.png");
}


.navbar {
    padding: 0px;
    border-bottom: 1px solid #517A9B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.navbar-brand {
    padding: 20px;
    background-color: #517A9B;
    color: white;
}

.aboutMe {
    padding: 25px;
}

.bioImage {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

section {
    background-color: white;
    margin: 25px 0 25px 0;
}

footer {
    border-top: 5px solid #517A9B;
    background-color: navy;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 25px;
}

