*{
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("assets/Images/background.png");
}


.navbar {
    padding: 0px;
    border-bottom: 1px solid #517A9B;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

.navbar-brand {
    padding: 20px;
    background-color: #517A9B;
    color: white;
}
